# Banco de dados (Supabase)
# Copie a "Transaction pooler" URI para DATABASE_URL
# Copie a "Session pooler" URI (ou Direct connection) para DIRECT_URL
DATABASE_URL=postgresql://postgres.tkidvdsripsludzghhwc:[Raul4578832@@]@aws-1-sa-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true
DIRECT_URL= postgresql://postgres.tkidvdsripsludzghhwc:[Raul4578832@@]@aws-1-sa-east-1.pooler.supabase.com:5432/postgres
# Google Gemini (gratuito em aistudio.google.com)
GEMINI_API_KEY=AIzaSyBNLqv_KUvpf8fZiPzyfSVWTMsf0ZsIX7k

# WhatsApp (Evolution API)
WHATSAPP_API_URL=https://api.z-api.io/instances/3F2CF24CF95DD1BB86E36A7B7F6D7A39/token/A66C3D4CC29C05F50A358A66/send-text
WHATSAPP_API_TOKEN=A66C3D4CC29C05F50A358A66
WHATSAPP_INSTANCE=sofisofia bot

# Auth
JWT_SECRET=seu_jwt_secret_com_pelo_menos_32_caracteres_aqui

# Clínica
CLINIC_NAME=Clínica Sofia
CLINIC_ADDRESS=Rua Exemplo, 123 - Cidade/UF
CLINIC_PHONE=5511999999999
TELECONSULT_URL=https://meet.jit.si/clinica-sofia
ADMIN_NOTIFICATION_PHONE=5511999999999

# Vercel Cron (protege a rota de cron)
CRON_SECRET=uma_string_secreta_qualquer

# URL pública do app (preenchida automaticamente na Vercel)
NEXT_PUBLIC_APP_URL=http://localhost:3000
